@import url('https://fonts.googleapis.com/css2?family=Dyslexie:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-heading: 'Geist', sans-serif;
  --font-body: 'Dyslexie', sans-serif;
  --font-ui: 'Dyslexie', sans-serif;
  --color-primary: #008080;
  --color-secondary: #FFFFFF;
  --color-dark-bg: #0F172A;
  --color-light-bg: #F8FAFC;
  --animation-fade-in: fadeIn 0.8s ease-in-out;
} 

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

html, body {
    background-color: var(--color-light-bg); /* Ensure a fallback */
    background-image: url('/assets/images/sustainabletechmycelium.webp');
    background-size: stretch;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-color 0.3s ease-in-out;
    opacity: 0.8;
  }
  
.dark-mode {
  background-color: var(--color-dark-bg);
}

body {
  color: var(--color-primary);
  background-color: white;
  font-family: var(--font-body);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: white;
  }
}
/* =======
/* @import url('https://fonts.googleapis.com/css2?family=Dyslexie:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;700&display=swap');
@import 'tailwindcss'; */


/* body {
  font-family: var(--font-body);
  color: var(--color-primary);
}
>>>>>>> pages-setup */
